<figure class="image relative">
  <img src="{{cover}}" width="320" height="320" alt="{{name}} - {{author.name}}">
  <div class="actions padding right-text">
    <a href="#" class="action icon-add"></a>
    <a href="#" class="action icon-love btn-love"></a>
    <a href="#" class="action icon-share"></a>
  </div>
  <div class="description center-text border-bottom">
    <p class="name">
      {{name}}
      -
      <span class="slug">
        {{# each artists }}
          {{# if @last }}
            <a href="/artist/{{ this.id }}">{{ this.name }}</a>
          {{ else }}
            <a href="/artist/{{ this.id }}">{{ this.name }},</a>
          {{/ if}}
        {{/ each }}
      </span>
    </p>
  </div>
</figure>
