<figure class="image relative">
  <img src="{{album_cover}}" width="320" height="320" alt="{{name}} - {{author.name}}">
  <div class="actions padding right-text">
    <a href="#" class="action icon-add"></a>
    <a href="#" class="action icon-love"></a>
    <a href="#" class="action icon-share"></a>
  </div>
  <div class="description center-text border-bottom">
    <p class="name">
      {{name}} - {{author.name}}
    </p>
  </div>
</figure>