<figure class="image">
  <div class="button">
    <button class="icon-play"></button>
  </div>
  {{#if cover}}
    <img src="{{cover}}" width="128" height="128" alt="{{name}} - {{author.name}}">     
  {{/if}}
</figure>
<p class="name">
  {{name}}
</p>
<p class="author">
  <span class="slug">
    {{#if date}}
      {{date.day}} / {{date.month}} / {{date.year}}
    {{else}}
      {{ artist.name }}
    {{/if}}
  </span>
</p>
