<figure class="image">
  <div class="button">
    <button class="icon-play"></button>
  </div>
  <img src="{{cover}}" width="128" height="128" alt="{{name}} - {{author.name}}">
</figure>
<p class="name">
  {{name}}
</p>
<p class="author">
  <span class="slug">
    {{ artist.name }}
  </span>
</p>
